@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="margin-top:4em">Welcome to Web_Book</h1>
    <p style="margin-top:2em">This app allows users to create category data objects and perform data operations on them!</p>
</div>
